/* hero */
.hero-wrapper {
  height: 100vh;
  position: relative;
}

#title {
  font-family: var(--plus-jakarta-sans);
  font-size: 56px;
  color: var(--primary-color);
}
#description {
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  color: #a0a1a2;
}
/* hero */