.form-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Membagi container menjadi 2 kolom dengan lebar yang sama */
  gap: 20px; /* Jarak antara form-group */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}
