* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.banner{
    height: 100vh;
    background-image: linear-gradient(rgba(42, 42, 42, 0.6),rgba(42, 42, 42, 0.6)),url('https://i.ibb.co/0BhYS6p/gambar1.jpg');
    background-size: cover;
    background-position: center;
}

.content{
    padding-left: 100px;
    padding-right: 100px;
}

.text{
    padding-top: 20%;
}

.text h2{
    font-weight: 600;
    color: white;
}

.content p{
    color: white;
    padding-top: 65px;
    font-size: 18px;
}

.session{
    margin-top: 100px;
}

.session h1{
    text-align: center;
    font-weight: 600;
    margin: 80px;
}

.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin: 90px;
}

.image-cewe{
    position: relative;
}

.image-cewe::before{
    position: absolute;
    content: '';
    right: -20px;
    top: 20px;
    border: 5px solid #56c3f25a;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.about .deskripsi h3{
    margin-left: 15px;
    color: #56C4F2;
    padding-right: 80px;
}

.deskripsi .btn-rekomen{
    margin-left: 15px;
    background-color: #56C4F2;
    color: white;
    border: 0;
    border-radius: 10px;
    width: 40%;
    height: 40px;
}

.card-session{
    margin-top: 200px;
}

.card-session h4{
    color: #56C4F2;
    font-weight: 600;
}

.card-session h6{
    font-weight: bold;
    margin-top: 15px;
}

.card-session h1{
    font-weight: 900;
    color: #56C4F2;
}

.card-session h5{
    color: #56C4F2;
}

#category h3{
    text-align: center;
    padding-bottom: 40px;
    color: #56C4F2;
    font-weight: 600;
}

.icon img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
	line-height: 70%;
	margin: 0 auto;
	border: 2px solid #56C4F2;
}

.icon img:hover{
	color : #CCD1E4;
}

#category h6{
	padding-top: 10px;
}

