* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  font-family: var(--plus-jakarta-sans);
}

:root {
  --primary-color: #56c4f2;
  --secondary-color: #32a9dc;
  --third-color: #00b3ff;
  --text-color: rgb(62, 62, 62);
  --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --rubik: "Rubik", sans-serif;
  --animate-delay: 0.1s;
}
body {
  overflow-x: hidden;
}
